// Main colours
$colorPrimary: #4e45fb;
$colorSecondary: #40c8f5;
$colorAccentPrimary: #15191a;
$colorAccentSecondary: #2f3031;
$colorBackground: #ffffff;

// Hover colours
$colorHoverBackground: #a8abac;

// Font sizes
$fontDefault: 18px;