// Main colours
$colorPrimary: #4e45fb;
$colorSecondary: #3d9bf8;
$colorAccentPrimary: #15191a;
$colorAccentSecondary: #2f3031;
$colorBackground: #ffffff;

// Hover colours
$colorHoverBackground: #a8abac;

// Font sizes
$fontDefault: 18px;
$fontTitle: 35px;
$fontFooter: 16px;

// Screen sizes
$screenMedium: 600px;
$screenSmall: 320px