@import "variables";

.dashboard {
    margin: 30px 0 70px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    $inputWidth: 400px;

    p {
        font-size: $fontDefault;
    }

    a {
        font-size: $fontDefault;
        margin: 0 0 40px 0;
        color: $colorBackground;
        background-color: $colorAccentSecondary;
        transition: all 0.2s ease 0s;
        padding: 5px 10px;
        border-radius: 6px;
        &:hover {
            background-color: $colorHoverBackground;
        }
    }

    h1 {
        color: $colorAccentPrimary;
        font-size: $fontTitle;
        text-align: center;
    }

    form {
        text-align: left;
        margin: 10px 0px 30px 0;

        input {
            border: none;
            outline: none;
            border-bottom: 2px solid $colorPrimary;
            transition: all 0.2s ease 0s;
            &:hover, &:focus {
                border-bottom: 2px solid $colorSecondary;
            }
        }

        label {
            font-weight: 600;
            color: $colorAccentSecondary;
            padding: 40px 0px 5px 0;
        }

        input, label {
            font-size: $fontDefault;
            display: block;
            width: $inputWidth;
            margin: 15px 0px;
        }

        textarea {
            resize: vertical;
            border: none;
            outline: none;
            min-height: 60px;
            width: $inputWidth !important; 
            border-bottom: 2px solid $colorPrimary;
            font-size: $fontDefault;
            transition: all 0.2s ease 0s;
            &:hover, &:focus {
                border-bottom: 2px solid $colorSecondary;
            }
        }
    }

    .checkbox {
        margin: 10px 0 30px 0;
        font-weight: 600;
        color: $colorAccentSecondary;
        width: 20%;
        min-width: 125px;
        font-size: $fontDefault;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media (max-width: $screenMedium) {
        $inputWidth: 250px;

        p {
            font-size: $fontDefault - 2;
        }

        a {
            font-size: $fontDefault - 2;
        }

        h1 {
            font-size: $fontTitle - 5;
        }

        form {
            input, label {
                width: $inputWidth;
                font-size: $fontDefault - 2;
            }

            textarea {
                width: $inputWidth !important;
                font-size: $fontDefault - 2;
            }
        }

        .checkbox {
            font-size: $fontDefault - 2;
        }
    }

    @media (max-width: $screenSmall) {
        $inputWidth: 175px;

        p {
            font-size: $fontDefault - 4;
        }

        a {
            font-size: $fontDefault - 4;
        }

        h1 {
            font-size: $fontTitle - 10;
        }

        form {
            input, label {
                width: $inputWidth;
                font-size: $fontDefault - 4;
            }

            textarea {
                width: $inputWidth !important;
                font-size: $fontDefault - 4;
            }
        }

        .checkbox {
            font-size: $fontDefault - 4;
        }
    }
}
