@import "variables";

.Footer {
    background-color: $colorAccentPrimary;
    padding: 20px 0;
    font-size: $fontFooter;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links {
        width: 50%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $colorBackground;
            transition: all 0.2s ease 0s;
            &:hover {
                color: $colorHoverBackground
            }
        }
    }


    @media (max-width: $screenMedium) {
        .links {
            flex-direction: column;
            padding: 0;

            a {
                padding: 10px 0;
            }
        }    
    }

}