@import "variables";

* {
    font-family: urw-form,Helvetica,sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $colorBackground;
}

main {
    min-height: 80vh;
}

.textSuccess {
    font-weight: 600;
    font-size: $fontDefault;
    color: #16b85c;
}

.textFail {
    font-weight: 600;
    font-size: $fontDefault;
    color: #e63636;
}

.button {
    margin: 0 0 40px 0;
    cursor: pointer;
    font-size: $fontDefault;
    border: none;
    background-color: $colorPrimary;
    border-radius: 6px;
    color: $colorBackground;
    padding: 5px 10px;
    transition: all 0.2s ease 0s;
    &:hover {
        background-color: $colorSecondary;
    }

    @media (max-width: $screenMedium) {
        font-size: $fontDefault - 2;
    }

    @media (max-width: $screenSmall) {
        font-size: $fontDefault - 4;
    }
}