@import "variables";

.login {
    margin: 150px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-size: $fontDefault;
    }

    h1 {
        color: $colorAccentPrimary;
        font-size: $fontTitle;
    }

    form {
        text-align: left;
        font-size: $fontDefault;
        margin: 10px 0px 30px 0;

        input {
            border: none;
            outline: none;
            border-bottom: 2px solid $colorPrimary;
            transition: all 0.2s ease 0s;
            &:hover, &:focus {
                border-bottom: 2px solid $colorSecondary;
            }
        }

        label {
            font-weight: 600;
            color: $colorAccentSecondary;
            padding: 40px 0px 5px 0;
        }

        input, label {
            font-size: $fontDefault;
            display: block;
            width: 400px;
            margin: 15px 0px;
        }
    }

    @media (max-width: $screenMedium) {
        p {
            font-size: $fontDefault - 2;
        }

        h1 {
            font-size: $fontTitle - 5;
        }

        form {
            input, label {
                width: 250px;
                font-size: $fontDefault - 2;
            }
        }
    }

    @media (max-width: $screenSmall) {
        p {
            font-size: $fontDefault - 4;
        }

        h1 {
            font-size: $fontTitle - 10;
        }

        form {
            input, label {
                width: 175px;
                font-size: $fontDefault - 4;
            }
        }
    }
}